body {
  font-family: "Goole Sans", Arial, sans-serif;
  color: #527af2; /* tekst kleur */
  background-color: #ffffff; /*achtergrond kleur*/
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* Stijl navigatiebalk */
.navbar {
  background-color: #ffffff !important;
}
.nav {
  display: flex;
  justify-content: center;
  padding: 0.25rem 0;
}

.nav-item {
  padding: 0.25rem 0;
}

.nav-link {
  color: #5f6368;
  font-weight: 400;
  font-size: 16px;
}

.nav-link:hover,
.nav-link.active {
  color: #c2d7f2;
}

.navbar-brand {
  height: 100px;
  display: flex;
  align-items: center;
}
.navbar-brand img {
  height: 100%;
  width: auto;
}
h1 {
  font-family: "Google Sans", Arial, sans-serif;
}

h2 {
  font-family: "Google Sans", Arial, sans-serif;

  text-align: center;
}
p {
  color: #527af2;
  font-size: 20px;
  max-width: 600px;
  margin: auto;
  text-align: justify;
  font-family: "Google Sans", Arial, sans-serif;
}

.lead {
  color: #527af2;
}

.btn {
  background-color: #527af2;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #94b3f2;
}
.btn-secondary {
  background-color: #94b3f2;
}
footer {
  background-color: #94b3f2;
  color: #527af2;
  padding: 1rem;
  text-align: center;
}
.container {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
}

.cover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
}

.img-fluid {
  border-radius: 20px;
  max-width: 50%;
  height: auto;
  display: block;
  margin: 20px auto;
}
.wide-image {
  width: 90%;
  height: auto;
  display: block;
  margin: 20px auto;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

caption {
  padding: 10px;
  caption-side: top;
  font-size: 1.1em;
  font-weight: bold;
}

figure {
  text-align: center;
  margin-top: 20px;
}
figcaption {
  color: #94b3f2;
}

.aside {
  flex: 1;
  margin-left: 20px;
  padding: 10px;
  border-left: 1px solid #ccc;
  margin-top: 0;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-link {
    padding: 10px 15px;
  }

  .img-fluid {
    max-width: 100%;
  }

  .container,
  .cover-container {
    padding: 15px;
  }
}
