body {
  font-family: "Segoe UI", Tahoma, Verdana, Geneva, Tahoma, sans-serif, Verdana,
    sans-serif;
  color: #527af2; /* tekst kleur */
  background-color: #c2d7f2; /*achtergrond kleur*/
  margin: 0;
  padding: 0;
}

/* Stijl navigatiebalk */
.navbar {
  padding: 0.25rem 1rem;
}
.nav {
  display: flex;
  justify-content: center;
  background-color: #527af2;
  padding: 0.25rem 0;
}

.nav-item {
  padding: 0.25rem 0;
}

.nav-link {
  color: #ffffff;
  margin: 0 0.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}

.nav-link:hover,
.nav-link.active {
  color: #c2d7f2;
}
h1 {
  color: #527af2;
}

h2 {
  color: #527af2;
  text-align: center;
}
p {
  color: #527af2;
  font-size: x-large;
  max-width: 600px;
  margin: auto;
  text-align: justify;
}

.lead {
  color: #527af2;
}

.btn {
  background-color: #527af2;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #94b3f2;
}
.btn-secondary {
  background-color: #94b3f2;
}
footer {
  color: #ffffff;
  padding: 1rem 0;
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.cover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

img.img-fluid {
  max-width: 1050px;
  height: auto;
}
